@media(max-width: 975px) {
    .container {
        flex-direction: column;
        margin: 35px 15px 20px;
    }

    .container .informacoes {
        margin: 35px;
        text-align: center;
    }

    .container .informacoes .titulo {
        font-size: 20px
    }

    .container .informacoes .paragrafo {
        font-size: 14px;
        max-width: 350px;
        margin: 35px 0 0 0;
    }
}

@media(max-width: 475px) {
    .container {
        padding: 0 15px 20px;
    }

    .formulario {
        max-width: 300px;
        margin: 25px 0 20px;
    }

    .formulario .input,
    .btn {
        width: 250px;
    }
}